<div class='header space-bottom1'>
    <h3 class='pad1'>Directions <span class='quiet'>({{distance}}, {{duration}})</span></h3>
    <div class='box pad1'> {{summary}}</div>
</div>
<ol>
    {{#legs}}
        {{#steps}}
            <li><span class='col10'>{{maneuver.instruction}}</span><span class='col2 text-right'>{{distance}}</span></li>
        {{/steps}}
    {{/legs}}
</ol>
